In [4]:
import os
pd.options.display.max_columns = None

In [34]:
fns = [x.replace('.csv','') for x in os.listdir() if 'csv' in x]

data = {}
for f in fns:
    data[f] = pd.read_csv(f"{f}.csv") 
    data[f] = data[f].loc[:,data[f].notnull().sum()!=0]

In [63]:
data.keys()

dict_keys(['DDOT_Bus_Stops', 'Blight_Violations', 'Current_City_of_Detroit_Neighborhoods', 'Rental_Statuses', 'Certificates_Of_Compliance', 'SMART_Bus_Stops', 'DPD_Citizen_Complaints', '911_Calls_For_Service'])

In [65]:
data['Blight_Violations'].loc[data['Blight_Violations'].violation_zip_code.notnull()]

,X,Y,ticket_id,ticket_number,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,violation_zip_code,violator_id,mailing_address_str_number,mailing_address_str_name,city,state,zip_code,non_us_str_code,country,violation_date,ticket_issued_time,hearing_date,hearing_time,judgment_date,violation_code,violation_description,disposition,payment_date,payment_status,collection_status,violation_address,parcelno,oid
285426,-83.036472,42.389791,321780,13095920DAH,Detroit Police Department,Norma Black,ROBINSON & SONS CONSTRUCTION,6355,SELKIRK,48234,288255,615,ALGONQUIN,DETROIT,MI,48215,NaN,NaN,2014/09/22 00:00:00+00,1900/01/01 16:00:00,2014/10/10 00:00:00+00,09:00:00,2014/10/10 09:39:03+00,22-2-83(c),"Dumping, storing or depositing solid waste 5 o...",Responsible by Default,1970/01/01 00:00:00+00,NaN,NaN,6355 SELKIRK,15001218.,321780
285427,NaN,NaN,321781,13095921DAH,Detroit Police Department,Norma Black,YVONNE MC MILLON,20454,FLEMING,48234,288256,20454,FLEMING,DETROIT,MI,48234,NaN,NaN,2014/09/23 00:00:00+00,1900/01/01 12:00:00,2014/10/10 00:00:00+00,09:00:00,2014/10/10 09:57:29+00,9-1-104,Excessive weeds or plant growth one- or two-fa...,Responsible by Default,1970/01/01 00:00:00+00,NaN,In Collections,20454 FLEMING,NaN,321781
285428,NaN,NaN,321782,13095922DAH,Detroit Police Department,Norma Black,YVONNE MC MILLON,20454,FLEMING,48234,288257,20454,FLEMING,DETROIT,MI,48234,NaN,NaN,2014/09/23 00:00:00+00,1900/01/01 12:00:00,2014/10/10 00:00:00+00,09:00:00,2014/10/10 09:58:10+00,9-1-110(a),Inoperable motor vehicle(s) one- or two-family...,Responsible by Default,1970/01/01 00:00:00+00,NaN,In Collections,20454 FLEMING,NaN,321782
285429,-83.065462,42.442411,321783,13095558DAH,Detroit Police Department,Douglas Nichols,WEXFORD LLC WEXFORD LLC,20030,WEXFORD,48234,288258,12317,HATTON POINTE RD,FORT WASHINGTON,MD,20744,NaN,NaN,2014/09/23 00:00:00+00,1900/01/01 13:00:00,2014/10/10 00:00:00+00,09:00:00,2014/10/10 09:53:07+00,9-1-110(a),Inoperable motor vehicle(s) one- or two-family...,Responsible by Default,2017/11/07 00:00:00+00,PAID IN FULL,NaN,20030 WEXFORD,13021605.,321783
285430,-83.176867,42.423722,321784,13099836DAH,BSEED Environmental Affairs,Josue Zizi,CAROLYN WILLIAMS,18115,LITTLEFIELD,48235,288259,18115,LITTLEFIELD,DETROIT,MI,48235,NaN,NaN,2014/09/23 00:00:00+00,1900/01/01 10:20:00,2014/10/10 00:00:00+00,09:00:00,2014/10/10 10:37:52+00,22-2-88(b),Allowing bulk solid waste to lie or accumulate...,Not responsible by Dismissal,1970/01/01 00:00:00+00,NO PAYMENT DUE,NaN,18115 LITTLEFIELD,22027168.,321784
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
504683,-83.005535,42.433919,549793,21037704DAH,"Buildings, Safety Engineering & Env Department",Brian Benn,DET INVESTMENTS 1 LP,18990,ALBION,48234,516242,39111,SIX MILE ROAD,LIVONIA,MI,48152,NaN,NaN,2021/04/30 00:00:00+00,1900/01/01 16:30:00,2021/05/14 00:00:00+00,01:30:00,1970/01/01 00:00:00+00,8-15-82(g),Unlawful rental of property of without lead c...,by,1970/01/01 00:00:00+00,NaN,NaN,18990 ALBION,17014247.,549793
504684,NaN,NaN,549794,21028925DAH,BSEED Environmental Affairs,Derrell Snyder,HARPER PROPERTY HOLDING LLC,6668,ST CYRIL,48213,516243,1169,Bershire,Grosse Pointe Park,MI,48230,NaN,NaN,2020/12/05 00:00:00+00,1900/01/01 10:30:00,2021/05/21 00:00:00+00,09:00:00,1970/01/01 00:00:00+00,42-2-97(b),Allowing bulk solid waste to lie or accumulate...,by,1970/01/01 00:00:00+00,NaN,NaN,6668 ST CYRIL,NaN,549794
504685,NaN,NaN,549795,21028497DAH,BSEED Environmental Affairs,Patricia Roberts,4714 DEVONSHIRE MANAGEMENT LLC,4714,DEVONSHIRE,48224,516244,101,W BEAVER RD,TROY,MI,48084,NaN,NaN,2021/04/09 00:00:00+00,1900/01/01 12:30:00,2021/05/19 00:00:00+00,10:30:00,1970/01/01 00:00:00+00,42-2-50,Violation of time limit for approved container...,by,1970/01/01 00:00:00+00,NaN,NaN,4714 DEVONSHIRE,NaN,549795
504686,NaN,NaN,549796,21028498DAH,BSEED Environmental Affairs,Patricia Roberts,4714 DEVONSHIRE MANAGEMENT LLC,4714,DEVONSHIRE,48224,516245,101,W BEAVER RD,TROY,MI,48084,NaN,NaN,2021/04/09 00:00:00+00,1900/01/01 12:30:00,2021/05/19 00:00:00+00,10:30:00,1970/01/01 00:00:00+00,42-2-97(b),Allowing bulk solid waste to lie or accumulate...,by,1970/01/01 00:00:00+00,NaN,NaN,4714 DEVONSHIRE,NaN,549796
504687,NaN,NaN,549797,21028926DAH,BSEED Environmental Affairs,Derrell Snyder,PDW SOLUTIONS LLC,12798,WILSHIRE,48213,516246,32,Searing Ave,East Newark,NJ,07029,NaN,NaN,2020/12/05 00:00:00+00,1900/01/01 14:15:00,2021/05/21 00:00:00+00,09:00:00,1970/01/01 00:00:00+00,42-2-97(b),Allowing bulk solid waste to lie or accumulate...,by,1970/01/01 00:00:00+00,NaN,NaN,12798 WILSHIRE,NaN,549797

In [81]:
data['Blight_Violations'].violation_description.value_counts().head(10)

Failure of owner to obtain certificate of compliance                                                                          140154
Excessive weeds or plant growth one- or two-family dwelling or commercial Building                                             62087
Failure to obtain certificate of registration for rental property                                                              60524
Allowing bulk solid waste to lie or accumulate on or about the premises                                                        54048
Failure of owner to keep property, its sidewalks, or adjoining public property free from solid waste                           28769
Unlawful occupation of rental property without lead clearance - one or two-family dwelling                                     14348
Inoperable motor vehicle(s) one- or two-family dwelling or commercial building                                                 12874
Violation of time limit for approved containers to remain at curbside - early or late                                          12729
Improper placement of Courville container between collections                                                                   6952
Failure of owner to keep property, its sidewalks, or adjoining public property free from solid, medical or hazardous waste      6626
Name: violation_description, dtype: int64

In [44]:
for i in range(len((data))):
    print(fns[i])
    display(data[fns[i]].describe())

DDOT_Bus_Stops

,X,Y,FID,Latitude,Longitude,Shelter,Bench,Trash,StopID
count,5546.000000,5546.000000,5546.000000,5546.000000,5546.000000,5546.000000,5546.000000,5546.000000,5546.000000
mean,-83.102480,42.384582,2773.500000,42.384582,-83.102480,0.037505,0.055175,0.206996,6379.520195
std,0.087380,0.039725,1601.136628,0.039725,0.087380,0.190012,0.228342,0.505759,9299.955889
min,-83.332940,42.255633,1.000000,42.255633,-83.332940,0.000000,0.000000,0.000000,15.000000
25%,-83.167737,42.355298,1387.250000,42.355298,-83.167737,0.000000,0.000000,0.000000,2708.250000
50%,-83.103550,42.387006,2773.500000,42.387006,-83.103550,0.000000,0.000000,0.000000,5033.500000
75%,-83.037092,42.417686,4159.750000,42.417686,-83.037092,0.000000,0.000000,0.000000,7361.750000
max,-82.911558,42.473734,5546.000000,42.473734,-82.911558,1.000000,1.000000,2.000000,80007.000000

Blight_Violations

,X,Y,ticket_id,violation_street_number,violator_id,clean_up_cost,payment_amount,oid,geom,fine_amount
count,311927.000000,311927.000000,504688.000000,5.046880e+05,504688.000000,0.0,0.0,504688.000000,0.0,0.0
mean,-83.108773,42.390353,285808.944273,1.342121e+04,255674.614187,NaN,NaN,285808.944273,NaN,NaN
std,0.101570,0.035603,152720.382533,1.443240e+06,148664.510584,NaN,NaN,152720.382533,NaN,NaN
min,-83.286875,42.255758,18645.000000,-1.512600e+04,1.000000,NaN,NaN,18645.000000,NaN,NaN
25%,-83.196747,42.365865,153650.750000,4.986000e+03,126802.750000,NaN,NaN,153650.750000,NaN,NaN
50%,-83.126520,42.394071,287613.500000,1.078600e+04,254564.500000,NaN,NaN,287613.500000,NaN,NaN
75%,-83.015524,42.419447,417003.250000,1.619400e+04,383459.250000,NaN,NaN,417003.250000,NaN,NaN
max,-82.911188,42.449521,549797.000000,1.000000e+09,516246.000000,NaN,NaN,549797.000000,NaN,NaN

Current_City_of_Detroit_Neighborhoods

         OBJECTID  council_district  nhood_num
count  206.000000        206.000000  206.00000
mean   103.500000          3.975728  104.31068
std     59.611241          2.001071   60.64258
min      1.000000          1.000000    1.00000
25%     52.250000          2.000000   52.25000
50%    103.500000          4.000000  103.50000
75%    154.750000          5.000000  156.75000
max    206.000000          7.000000  209.00000

Rental_Statuses

                  X             Y    street_num           oid  geom
count  14550.000000  14550.000000  1.588200e+04  15884.000000   0.0
mean     -83.113692     42.399078  1.213158e+04   7942.500000   NaN
std        0.109741      0.033956  1.497715e+04   4585.460173   NaN
min      -83.287321     42.257033  2.000000e+00      1.000000   NaN
25%      -83.208581     42.374410  6.338250e+03   3971.750000   NaN
50%      -83.144127     42.406814  1.351900e+04   7942.500000   NaN
75%      -83.003723     42.426300  1.733000e+04  11913.250000   NaN
max      -82.913406     42.449609  1.716258e+06  15884.000000   NaN

Certificates_Of_Compliance

                 X            Y    street_num         oid  geom
count  3390.000000  3390.000000   3550.000000  3551.00000   0.0
mean    -83.123048    42.397055  11628.855211  1776.00000   NaN
std       0.119213     0.034533   6604.713759  1025.22973   NaN
min     -83.287147    42.260967     15.000000     1.00000   NaN
25%     -83.234043    42.372033   5220.000000   888.50000   NaN
50%     -83.147367    42.404389  12888.000000  1776.00000   NaN
75%     -83.003806    42.424904  17488.000000  2663.50000   NaN
max     -82.913373    42.449527  24786.000000  3551.00000   NaN

SMART_Bus_Stops

            stop_id     stop_lat     stop_lon     ObjectId
count   5372.000000  5372.000000  5372.000000  5372.000000
mean   16558.256329    42.446745   -83.120580  2686.500000
std     6549.502916     0.120162     0.154898  1550.907154
min       17.000000    42.140933   -83.436626     1.000000
25%    11985.750000    42.363155   -83.254471  1343.750000
50%    19181.500000    42.472352   -83.133548  2686.500000
75%    21595.500000    42.527495   -82.988138  4029.250000
max    23968.000000    42.721059   -82.728326  5372.000000

DPD_Citizen_Complaints

                CCR           Age      ObjectId
count  19735.000000  19707.000000  19735.000000
mean   69626.193565     37.260923   9868.000000
std     1369.956871     26.595082   5697.148117
min    67127.000000     -2.000000      1.000000
25%    68407.000000     26.000000   4934.500000
50%    69718.000000     37.000000   9868.000000
75%    70896.000000     47.000000  14801.500000
max    71804.000000    930.000000  19735.000000

911_Calls_For_Service

,X,Y,incident_id,block_id,council_district,longitude,latitude,oid
count,4.038755e+06,4.038755e+06,4.038755e+06,3.910632e+06,3.861383e+06,4.038755e+06,4.038755e+06,4.038755e+06
mean,-8.311032e+01,4.237947e+01,2.019047e+11,2.616335e+14,4.264781e+00,-8.311032e+01,4.237947e+01,2.019378e+06
std,1.323763e-01,4.836959e-02,1.311594e+08,3.211407e+10,1.959083e+00,1.323763e-01,4.836959e-02,1.165888e+06
min,-8.413221e+01,4.208159e+01,2.016264e+11,2.609923e+14,1.000000e+00,-8.413221e+01,4.208159e+01,1.000000e+00
25%,-8.317997e+01,4.235312e+01,2.018135e+11,2.616351e+14,3.000000e+00,-8.317997e+01,4.235312e+01,1.009690e+06
50%,-8.309460e+01,4.238063e+01,2.019170e+11,2.616352e+14,5.000000e+00,-8.309460e+01,4.238063e+01,2.019378e+06
75%,-8.303382e+01,4.241676e+01,2.020159e+11,2.616354e+14,6.000000e+00,-8.303382e+01,4.241676e+01,3.029066e+06
max,-8.271078e+01,4.268528e+01,2.021164e+11,2.616399e+14,7.000000e+00,-8.271078e+01,4.268528e+01,4.038755e+06

In [11]:
import geopandas as gpd
import fiona

gpd.io.file.fiona.drvsupport.supported_drivers['KML'] = 'rw'
df = gpd.read_file('Current_City_of_Detroit_Neighborhoods.kml', driver='KML')

In [14]:
from fastkml import kml
kml_file = 'Current_City_of_Detroit_Neighborhoods.kml'
with open(kml_file,'rb') as f:
    doc = f.read()

In [40]:
k = kml.KML()
k.from_string(doc)

In [87]:
pmark = list(list(list(k.features())[0].features())[0].features())[0]
print(pmark.extended_data.to_string())
# dir(pmark.extended_data)
print(pmark.extended_data.etree_element())

<kml:ExtendedData xmlns:kml="http://www.opengis.net/kml/2.2">
  <kml:SchemaData schemaUrl="#Current_City_of_Detroit_Neighborhoods">
    <kml:SimpleData name="OBJECTID">1</kml:SimpleData>
    <kml:SimpleData name="council_district">4</kml:SimpleData>
    <kml:SimpleData name="nhood_num">103</kml:SimpleData>
    <kml:SimpleData name="nhood_name">West End</kml:SimpleData>
    <kml:SimpleData name="Website">https://theneighborhoods.org/neighborhoods/west-end</kml:SimpleData>
  </kml:SchemaData>
</kml:ExtendedData>

None

In [24]:
fiona.listlayers(fns[0])

['DDOT_Bus_Stops']

In [92]:
df

    Name Description                                           geometry
0                     POLYGON ((-82.99152 42.38439, -82.99249 42.384...
1                     POLYGON ((-82.97585 42.38933, -82.97603 42.389...
2                     POLYGON ((-82.96784 42.38369, -82.96783 42.383...
3                     POLYGON ((-82.95141 42.35503, -82.95292 42.354...
4                     POLYGON ((-83.25748 42.41460, -83.25729 42.411...
..   ...         ...                                                ...
201                   POLYGON ((-83.16131 42.44091, -83.16889 42.440...
202                   POLYGON ((-83.16121 42.43851, -83.16015 42.438...
203                   POLYGON ((-83.16498 42.40962, -83.16538 42.409...
204                   POLYGON ((-83.16498 42.40962, -83.16361 42.408...
205                   POLYGON ((-82.94769 42.38730, -82.94769 42.387...

[206 rows x 3 columns]

In [25]:
from attrdict import AttrDict

In [26]:
data = AttrDict(data)

In [24]:
data.keys()

dict_keys(['DDOT_Bus_Stops.csv', 'Blight_Violations.csv', 'Current_City_of_Detroit_Neighborhoods.csv', 'Rental_Statuses.csv', 'Certificates_Of_Compliance.csv', 'SMART_Bus_Stops.csv', 'DPD_Citizen_Complaints.csv', '911_Calls_For_Service.csv'])

In [28]:
data.

AttributeError: 'AttrDict' instance has no attribute 'Blight_Violations'